<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Requiaed meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- load Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="static/css/meals.css">
        <link rel="stylesheet" type="text/css" href="static/css/dashboard.css">
        <link rel="stylesheet" href="static/css/footer.css">
        <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Langar&display=swap" rel="stylesheet">
      
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
    </head>
<body>
<!-- NAVBAR-->
<nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand">
        <!-- Logo Image -->
        <img src="static/img/6571532_preview.png" width="100" alt="" class="d-inline-block align-middle mr-2">
        <!-- Logo Text -->
        <span class="text-uppercase font-weight-bold">Food To Eat</span>
      </a>
  
      <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
  
      <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href="#" class="nav-link">About Us</a></li>
          <li class="nav-item active"><a href="#" class="nav-link">logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- start of meals app -->

<section class='meals'>
    <!-- start of filters div -->
  <aside>
        <h3>Filters</h3>
        <label for="select_all">Select All <input type="checkbox" id="select_all" name="select_all" value="all" checked></label>
        <ul>
          <li>
            <label for="meal1"><span><img> Sandwich</span><input type="checkbox" id="meal1" name="meal1" value="meal1" checked></label>
          </li>
          <li>   
            <label for="meal1"><span><img> Soaps</span><input type="checkbox" id="meal1" name="meal1" value="meal1" checked></label>
          </li>
          <li>
            <label for="meal1"><span><img> Rice</span><input type="checkbox" id="meal1" name="meal1" value="meal1" checked></label>
          </li>
        </ul>

  </aside>
    <!-- end of filters div -->
      <!-- start of meals stocks side -->
  <aside>
    <!-- meal form for partner -->
    <div class="container h-100" id='search'>
      <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
          <input class="search_input" type="text" name="" placeholder="Search...">
          <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
        </div>
      </div>
    </div>
    <!-- add meal form -->
    <section id='addMeal'>
      <form class='mealViewer mealEdit'>
        <h3>
          <input type=text name='title' id='title' value="Title">
          <label>Image Link</label>
          <input type='text' name='imgLink' id='imgLink' value="www">
        </h3>
        <aside>
          <img src='' alt='#'>
          <p><textarea name='description' id='description'>description description  description  description  description  description description description description description</textarea></p>
            <nav>
              <p>Price: </p>
              <p><input type='text' name='price' id='price' value="100"> NIS</p>
              <select name='category' id='category'>
                <option>Sandwich</option>
              </select>
              <input type='submit' value='Add'>
            </nav>  
        </aside>
      </form>  
    </section>
    <!-- end of add meal form -->
    <!-- start of meal form form for partner -->
    <section>
      <form class='mealViewer'>
        <h3>Title<img src='#' alt='#'></h3>
        <aside>
          <img src='' alt='#'>
          <p> description description  description  description  description  description description description description description</p>
            <nav>
              <p>100 NIS</p>
                <input type='submit' value='Edit'>
                <a href="#">Delete</a>
              <p>Sandwich</p>
            </nav>  
        </aside>
      </form>  
    </section>
    <!-- end of meal form form for partner -->
    <!-- meal edit form for partner -->
    <section>
      <form class='mealViewer mealEdit'>
        <h3>
          <input type=text name='title' id='title' value="Title">
          <label>Image Link</label>
          <input type='text' name='imgLink' id='imgLink' value="www">
        </h3>
        <aside>
          <img src='' alt='#'>
          <p><textarea name='description' id='description'>description description  description  description  description  description description description description description</textarea></p>
            <nav>
              <p>Price: </p>
              <p><input type='text' name='price' id='price' value="100"> NIS</p>
              <select name='category' id='category'>
                <option>Sandwich</option>
              </select>
              <input type='submit' value='Update'>
            </nav>  
        </aside>
      </form>  
    </section>

    <!-- end of meal edit form for partner -->

  </aside>
        <!-- end of meals stocks side -->

</section>
  <!-- end of meals app -->

 <!-- footer Section Begins -->
 <section id="footer" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="contact-form btm-brdr">
          <div class="form-Box">
            <input type="text" placeholder="Name" class="b_effect" />
          </div>
          <div class="form-Box">
            <input type="text" placeholder="Email" class="b_effect" />
          </div>
          <div class="form-Box"> <textarea placeholder="Message" class="b_effect"></textarea>
          </div>
          <div class="form-Box">
            <input type="submit" value="Submit" class="fill-btn" />
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="contact-address btm-brdr">
          <h4 class="fTitle"> Contact <span>Us</span> </h4>
          <ul>
            <li> <i class="fa fa-phone" aria-hidden="true"></i> <span>123-456-789</span> </li>
            <li> <i class="fa fa-map-marker" aria-hidden="true"></i> <span>Axsos Academy</span>
            </li>
            <li><i class="fas fa-envelope"></i><span>info@mywebsite.com</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="contact-address btm-brdr">
          <h4 class="fTitle"> Follow <span>Us</span> </h4>
          <ul>
            <li> <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i> <span>Food to
                  Eat</span></a> </li>
            <li> <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i><span>Food to
                  Eat</span></a></li>
            <li> <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></i><span>Food to
                  Eat</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<!-- footer Section Ends -->
<!-- copyright Section Begins -->
<section id="copyright" class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h6> Copyright © 2020, All Right Reseved</h6>
      </div>
    </div>
  </div>
</section>
<!-- copyright Section Ends -->

</body>
</html>