<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- load Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/aboutus.css">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/footer.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <title>About Us</title>
</head>

<body>
  <!-- NAVBAR-->
  <nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand">
        <!-- Logo Image -->
        <img src="static/img/6571532_preview.png" width="100" alt="" class="d-inline-block align-middle mr-2">
        <!-- Logo Text -->
        <span class="text-uppercase font-weight-bold">FOOD 2 EAT</span>
      </a>

      <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
        class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

      <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href="#" class="nav-link">Home <span class="sr-only">(current)</span></a></li>
          <li class="nav-item active"><a href="#" class="nav-link">Become A Partner</a></li>
          <li class="nav-item active"><a href="#" class="nav-link">Login</a></li>
          <li class="nav-item active"><a href="#" class="nav-link">Sign Up</a></li>
        </ul>
      </div>
    </div>
  </nav>


  </div>
  <div class="bg-secondary">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
          <h1 class="display-4 text-light bg-secondary">About us</h1>
          <br>
          <p class="lead text-white mb-0" >We are an online food ordering service that helps customers find
            restaurants.<br>
            Food 2 Eat was founded in 2020 by a group of young entrepreneurs who took advantage of the online food
            ordering opportunity that existed in the market. We are now a pioneer in the online food ordering services in
            MENA region.<br>Our main aim is to become and remain the market leader in Palestine region by
            diversifying our services portfolio and providing best-in-class customer experience.</p>
        </div>
        <div class="col-lg-6 d-none d-lg-block"><img src="static/img/aboutus.png" alt="" class="img-fluid"></div>
      </div>
    </div>
  </div>
  <div class="bg-dark py-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <center>
          <h2 class="display-4 text-white bg-dark" style="padding-top: 20px;">Our team</h2></center>
        </div>
      </div>
      <div class="row text-center" style="padding-left: 236px;">
        <!-- Team item-->
        <div class="col-xl-3 col-sm-1 mb-10">
          <div class="bg-dark rounded shadow-sm py-5 px-9"><img src="static/img/mahmoud.jpg" alt="" width="100"
              class="img-fluid rounded-circle mb-9 img-thumbnail shadow-sm">
            <h5 class="text-success mb-0">Mahmoud Khateeb</h5><span class="small text-uppercase text-white">CEO -
              Founder</span>

          </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-3 col-sm-1 mb-10">
          <div class="bg-dark rounded shadow-sm py-5 px-9"><img src="static/img/yasmeen.jpg" alt="" width="100"
              class="img-fluid rounded-circle mb-9 img-thumbnail shadow-sm">
            <h5 class="text-success mb-0">Yasmeen Muhtaseb</h5><span class="small text-uppercase text-white">CEO -
              Founder</span>
          </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-3 col-sm-1 mb-10">
          <div class="bg-dark rounded shadow-sm py-5 px-9"><img src="static/img/jehad.jpg" alt="" width="100"
              class="img-fluid rounded-circle mb-9 img-thumbnail shadow-sm">
            <h5 class="text-success mb-0">Jehad Al-Terawi</h5><span class="small text-uppercase text-white">CEO -
              Founder</span>
          </div>
        <!-- End-->

      </div>
    </div>
  </div>
  <!-- copyright Section Begins -->
  <section id="copyright" class="copyright" style="background-color: rgb(235, 235, 235);">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h6> Copyright © 2020, All Right Reseved</h6>
        </div>
      </div>
    </div>
  </section>
  <!-- copyright Section Ends -->
</body>

</html>