<!DOCTYPE html>
<html lang="en">

<head>
	<!-- load Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/registerstyle.css">
	<link rel="stylesheet" href="static/css/style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
		integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<title>Login Page</title>
</head>

<body class="main-bg">
	<nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm">
		<div class="container">
			<a href="#" class="navbar-brand">
				<!-- Logo Image -->
				<img src="https://i.dlpng.com/static/png/6571532_preview.png" width="100" alt=""
					class="d-inline-block align-middle mr-2">
				<!-- Logo Text -->
				<span class="text-uppercase font-weight-bold">FOOD 2 EAT</span>
			</a>

			<button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
				class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

			<div id="navbarSupportedContent" class="collapse navbar-collapse">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a href="#" class="nav-link">Home <span
								class="sr-only">(current)</span></a></li>
					<li class="nav-item active"><a href="#" class="nav-link">Become A Partner</a></li>
					<li class="nav-item active"><a href="#" class="nav-link">Sign Up</a></li>
				</ul>
			</div>
		</div>
	</nav>


	</div>
	<div class="login-container text-c animated flipInX">
		<div>
			<h1 class="logo-badge text-whitesmoke"><span class="fa fa-user-circle"></span></h1>
		</div>
		<h3 class="text-whitesmoke">Sign In</h3>
		<div class="container-content">
			<form class="margin-t">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Username Or Email" required="">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" placeholder="*****" required="">
				</div>
				<button type="submit" class="form-button button-l margin-b">Sign In</button>
				<p class="text-whitesmoke text-center"><small>Do not have an account ?</small></p>
				<a class="text-darkyellow" href="#"><small>Sign Up</small></a>
			</form>
			<p class="margin-t text-whitesmoke"><small> Food To Eat &copy; 2020</small> </p>
		</div>
	</div>
</body>

</html>