body {
    min-height: 100vh;
}
/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
body {
    background: linear-gradient(70deg, #e6e6e6, #f7f7f7);
    color: #514B64;
    min-height: 100vh;
  }
  
  code {
    /* background: #fff; */
    padding: 0.2rem;
    border-radius: 0.2rem;
    margin: 0 0.3rem;
  }
  
    
    .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }
    /*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.bg-cover {
    background-size: cover !important;
}
li.nav-item a:hover{
  border-top:3px solid rgb(170,212,0);;
}

