.panelform{
    display: flex;
    justify-content: space-between;
    margin-left: 250px;
    margin-right: 250px;
    height: 300px;
  }
  .panel{
    text-align: center;
    padding-top: 50px;
  }
  .panel img{
    width: 200px;
    height: 150px;
    align-items: center;
    margin-bottom: 30px;
  }
  aside div:nth-child(2) img {
    width: 150px;
  }