/*  Footer css */
.element-btn .element-fill-btn {
  background-color: #ff6600;
  border: 0;
  color: #fff;
  padding: 13px 5px;
  font-size: 16px;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  width: 252px;
  margin: 0 auto;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 50px -10px rgba(255, 10, 120, 1);
}
.fill-btn {
  background-color: rgb(170, 212, 0);
  border: 0;
  color: #fff;
  padding: 13px 5px;
  font-size: 16px;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  width: 252px;
  margin: 0 auto;
  border-radius: 25px;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.fill-btn:hover,
.element-btn .element-fill-btn:hover {
  background-color: #201f1f;
  box-shadow: 0px 10px 50px -10px rgb(32, 31, 31);
}

.footer {
  position: relative;
  background-color: rgb(52, 58, 64);
  padding: 50px 0px;
}

.form-Box input[type="text"],
.form-Box input[type="email"],
.form-Box textarea {
  width: 100%;
  height: 50px;
  border: 1px solid #737373;
  border-radius: 25px;
  background-color: transparent;
  padding: 5px 25px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #737373;
  font-style: italic;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}
.form-Box textarea {
  height: 113px;
  padding: 15px 25px;
  resize: none;
}
.form-Box .b_effect:focus {
  border-color: rgb(170, 212, 0);
}

.form-Box .fill-btn {
  position: static;
  transform: translate(0%, 0);
  -webkit-transform: translate(0%, 0);
  -moz-transform: translate(0%, 0);
  -ms-transform: translate(0%, 0);
  width: 184px;
}

.form-Box .fill-btn:hover {
  background-color: #e4e1c8;
  color: #201f1f;
  box-shadow: 0px 10px 50px -10px rgb(231, 228, 194);
}

.fTitle {
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
  font-style: italic;
  margin-bottom: 20px;
}

.fTitle span {
  color: rgb(170, 212, 0);
}

.contact-address ul li,
.contact-address ul li a {
  color: #737373;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 15px;
  line-height: 32px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.contact-address {
  padding: 0 15%;
}

.contact-address ul li i {
  margin-right: 15px;
  display: inline-block;
  float: left;
  line-height: 32px;
}

.contact-address ul li span {
  display: table;
}

/* Copyright css */

.copyright {
  padding: 10px 0;
  text-align: center;
}

.copyright h6 {
  font-size: 14px;
  font-style: italic;
  color: #737373;
}
