<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- load Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        {%load static%}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/meals.css' %}">
        <link rel="stylesheet" href="{% static 'css/footer.css' %}">
        <link rel="stylesheet" href="{% static 'css/cart.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Langar&display=swap" rel="stylesheet">
      
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script src="://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <title>Food2Eat Cart</title>
    </head>
<body>
<!-- NAVBAR-->
{%include 'navbar.html' %}

<form id='cart'>
  {% csrf_token %}

  <!-- meal viewer template -->
  {%for item in items%}
  <div class='horizantolWrapper'>
    <div class='mealViewer'>
      <h3>{{item.meal.title}}<img src='{{item.meal.imgLink}}' alt='image for meal'></h3>
      <aside>
        <img src="{% static 'img/'%}{{item.meal.category.iconLink}}" alt='icon'>
        <p>{{item.meal.description}}</p>
          <nav>
            {%load getValue%}
            <p id='price_{{item.id}}'>{{item.quantity| multiply:item.meal.price}} NIS</p>
            <select name='quantity'  id='quantity_{{item.meal.id}}'>
              {% for i in '0123456789' %}
              <option {% if item.quantity|sub1|stringformat:'s' == i %} selected {%endif%}>{{ forloop.counter }}</option>
                {% endfor %}
            </select>
            <input type=hidden name='meal_id' value='{{meal.id}}'>
      <button href="#">Delete</button>
            <p>KFC</p>
          </nav>  
      </aside>
    </div>  
  </div>
  {%endfor%}
  <div class='horizantolWrapper'>
    <p>Total price:<span>{{total}} NIS</span></p>
  </div>

  <div class='horizantolWrapper'>
    <input type='submit' value='checkout'>
  </div>


  
  <!-- end of meal viewer template -->  

</form>


{%include 'footer.html' %}
<script>
  $('select').change(function () {
  $.ajax({
    url: 'change_order_quantity/'+$(this).attr('id').replace('quantity_',''),
    method: 'post',
    data: {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,'quantity':$(this).val()},
    success: function(serverResponse){
      $('#price_'+serverResponse['id'].toString()).text(serverResponse['total_price'].toString())
    }
   })
  })
  $('select').change(function () {
  $.ajax({
    url: 'cart',
    method: 'get',
    data:{},
    success: function(serverResponse){
      // serverResponse
    }
   })
  })


  $('form').submit(function(e){
  e.preventDefault()
  $.ajax({
    url: $(this).attr('action').replace('/meals/',''),
    method: 'post',
    data: $(this).serialize(),
    success: function(serverResponse){
      $("#form_"+serverResponse['id'].toString()).attr('action',serverResponse['action']);
      $("#submit_"+serverResponse['id'].toString()).css('background-color',serverResponse['color']);
      $("#submit_"+serverResponse['id'].toString()).attr('value',serverResponse['value']);
    }
  })
  
})
</script>

</body>
</html>